/* Estilos generales */
body {
    background-color: rgb(238, 238, 238);
    color: rgb(2, 2, 2);
    font-family: Arial, sans-serif;
}

/* Estilos para la barra superior */
.top-bar {
    background-color: blue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el título en la barra superior */
.bar-title {
    margin: 0;
    color: white;
    text-align: center;
    flex-grow: 1;
}

/* Estilos para los botones de la barra superior */
.top-bar .btn {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos al pasar el mouse por encima de los botones */
.top-bar .btn:hover {
    background-color: white;
    color: blue;
}

/* Estilos para el contenido principal */
.content {
    margin: 20px auto;
    max-width: 600px;
}

/* Estilos para el calendario */
.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.calendar th {
    background-color: #f2f2f2;
}

.calendar td {
    height: 60px;
}

.calendar .current-day {
    background-color: #e6e6e6;
}

.logo-container img {
    width: 170px;
    height: 80px;
}
